name: CI

on:
  push:
    branches:
      - main

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'

    - name: Install dependencies
      run: |
        cd backend
        npm install

    - name: Run Jest tests
      run: |
        cd backend
        npm test

    - name: Run Stryker mutation tests
      run: |
        cd backend
        npx stryker run

  frontend-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '14'

    - name: Install dependencies
      run: |
        cd fronend
        npm install

    - name: Build React app
      run: |
        cd fronend
        npm run build
